html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slides {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slide {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  scroll-snap-align: start;
}
